<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mypro.mapper.UserMapper">
    <select id="getUserDetail"  resultType="com.project.mypro.entity.User">
        SELECT *  FROM users WHERE userid = #{id}
    </select>

</mapper>
